li {
	list-style: none;
}

body {
	margin: 0;
}

.site-header {
	background-color: #818181;
	margin: 0;
	width: 100%;
	overflow: hidden;
}

.site-logo-menu {
	
	border-bottom: 2px solid #a2a1a2; 
}
.site-logo-menu img {
	margin: 40px 0 40px 15%;
}

.site-logo-menu nav {
	margin: 40px 15% 40px 0;
	float: right;
}

.site-header-paragraph {
	text-align: center;
	width: 100%
}

.site-header-paragraph h1 {
	font: 400 48px/36px Exo;
	color: #fffcf4;
	margin-top: 250px;
}

.site-header-paragraph h1 span {
	color: #83edbc;
	font-weight: 900;
	font-family: "Exo";

}

.site-header-paragraph p {
	font: 300 18px/36px Roboto;
	width: 920px;
	height: 76px;
	color: #ffffff;
	padding-bottom: 270px; 
	margin: auto;
}

.site-navigation-list li {
	text-align: center;
	float: left;

}
.site-navigation-list a {
	font: 300 14px/36px Roboto, sans-serif;
	text-decoration: none;
	color: #fffcf4;
	padding: 15px 0;
	margin: 0 20px;
}

.site-navigation-list a:hover {
	color: #83edbc;
	border-bottom: 1px solid #83edbc; 
}

.main-paragraph h2{
	font: 900 30px/36px Roboto;
	color: #989899;
	text-align: center;
	margin-top: 120px; 
}
.main-paragraph span{
	color: #82ecbc;
}

.main-paragraph p {
	font: 250 18px/30px Roboto;
	width: 920px;
	height: 61px;
	color: #8f8e91;
	text-align: center;
	margin: 80px auto;
}

.main-services-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto 200px;
}

.main-services-cards section {
	height: 250px;
	width: 355px;
	border: 1px solid #e1e0df;
	text-align: center;
	margin: 25px;
}

.main-services-cards a {
	text-decoration: none;
}

.main-services-cards h3 {
	font: 24px/45px Roboto;
	color: #989899;
	margin: 10px 0;
}

.main-services-cards svg {
	margin-top: 30px; 
	fill: #989899;

}

.main-services-cards p {
	color: #c1c0c2;
	margin: 0 10px;
}

.main-services-cards section:hover{
	border: 2px solid #82ecbc;
	margin: 23px 24px;
}

.main-services-cards section:hover h3{
	color: #82ecbc;
}

.main-services-cards section:hover img{
	fill: #82ecbc;
}

.main-services-cards section:hover svg{
	fill: #82ecbc;
}

.main-teams h2,
.works h2,
.price h2 {
	font: 900 30px/36px Roboto;
	color: #989899;
	text-align: center;
	margin-top: 120px; 

}

.main-teams-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}

.card {
	margin: 15px 20px;
	height: 350px;
	width: 270px;
	background-color: #c7c7c7; 
	text-align: center;
	transition: .1s ease-out;
}

.card-name {
	background-color: #9b9b9b; 
	height: 70px;
	text-align: center;
	margin-top: 280px;
	position: relative;
} 

.card-name a { 
	font: 400 18px/36px Roboto;
	text-decoration: none;
	color: #fffcf4;
	padding: 50px 50px;
}

.card-name p { 
	font: 250 14px/36px Roboto;
	color: #fffcf4;
	top: 25px;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
}

.card li {
	display: none;
}

.works {
	height: 990px;
}

.card:hover {
	height: 390px;
	width: 270px;
	background-color: #89e9bd; 
	margin-top: 0;
}

.card:hover .card-name {
	background-color: transparent; 
	margin-top: 160px;
}

.card:hover ul {
	padding: 10px 0;
	margin-top: 70px;
	border-top: 1px solid #fffcf4;
	border-bottom: 1px solid #fffcf4;

}

.card:hover li {
	display: inline-block;
	margin: 0 15px;
}

.buttons {
	text-align: center; 
	margin: 5px;
}

.button {
	font: 300 18px/36px Roboto;
	color: #979797;
	background: none;
	border: 1px solid #fff;
	transition: .3s ease-out; 
	outline: 0;
}

.button:hover {
	color: #83edbc;
	border-bottom: 1px solid #83edbc; 
}

 .button:focus {
 	color: #83edbc;
	border-bottom: 1px solid #83edbc; 
	outline: 0;
}

.container div {
	height: 390px;
	width: 70%;
	background-color: #c7c7c7; 
	margin: 50px auto;
}

#Design, 
#Manipulation, 
#Photography, 
#Development {
	display: none;
}
.price {
	padding: 100px 0;
}

.button-green {
	background-color: #83edbc;
	border: none;
	color: #fffcf4;
	height: 50px;
	width: 200px;
	margin: 10px auto;
	display: block;
	font: 250 18px/36px Roboto;
	transition: .1s ease-out; 
	outline: 0;
}

.button-green:hover {
	outline: 0;
	height: 60px;
	width: 210px;
	margin-bottom: 0;
}

.price-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 50px auto;
	width: 100%;
}

.price-cards section{
	height: 430px;
	width: 270px;
	text-align: center;
	margin: 30px 10px;
}

.price-cards h3, p {
	font: 250 14px/36px Roboto;
	color: #8f8e91;
}

.button-order{
	height: 40px;
	width: 100px;
	background: none;
	border: 1px solid #c8c7c5;
	margin: 0 auto;
	color: #989899;
	margin: 40px auto 20px;
	display: block;
	font: 250 14px/36px Roboto;
	transition: .1s ease-out; 
	outline: 0;
}

.price-info-card {
	height: 420px;
}

.price-info-card img {
	border: 1px solid #c8c7c5;
	opacity: 0.4;
	margin-bottom: 35px; 
}

.price-cards section:hover .price-info-card{
	border: 1px solid #82ecbc;
}

.price-cards section:hover img {
	background-color: #7d1343;
	opacity: 1;
	filter: invert(100%);
	border: 1px solid #7d1343;
}

.price-cards section:hover .button-order{
	background-color: #83edbc;
	color: #fffcf4;
	border: 1px solid #83edbc;
}

.price-cards p {
	margin: 2px;
}

.price-cards section:hover h3 {
	color: #83edbc;
}

.comment-section {
	background-color: #c7c7c7;
	height: 460px;
	text-align: center;
	position: relative;
	padding: 20px 0; 
	margin: 100px auto 0;
}

.comment-section h2{
	font: 900 24px/36px Roboto;
	color: #fff;
}

.comment-section input[type="text"],
.comment-section input[type="email"]{
	background: none;
	border: 1px solid #fff;
	width: 440px; 
	height: 50px;
	color: #fff;
	margin: 10px 10px 20px;
	font: 250 14px/36px Roboto;
	outline: none;
}

.comment-section input[type="text"]::placeholder,
.comment-section input[type="email"]::placeholder,
.comment-section textarea::placeholder {
	color: #fff;
	text-indent: 15px;
}

.comment-section textarea {
	background: none;
	border: 1px solid #fff;
	width: 900px; 
	height: 210px;
	display: block;
	margin: 0 auto 25px;
	font: 250 14px/36px Roboto;
	outline: none;
	color: #fff;
}

.footer {
	display: grid;
	grid-gap: 10px 100px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px 150px 150px;
	background-color: #797878; 
	padding: 0 215px 60px;
	position: relative;
}

.footer h4 {
	margin: 0;
	color: #fff;
	padding: 40px 0 0 0;
	font: 400 18px/36px Roboto;
}

.footer p {
	margin: 0;
	color: #8f8e91;
	font: 250 14px/30px Roboto;

}

.footer-paragraph {
	grid-column: 1;
}

.footer-media, 
.footer-subscribe {
	grid-column: 3;
}

.footer-links ul{
	margin: 0;
	padding: 0;
	columns: 2;
	width: 200px;
}

.footer-links a {
	margin: 0;
	color: #8f8e91;
	font: 250 14px/30px Roboto;
	text-decoration: none;
	margin: auto;
}

.footer-media ul {
	padding: 0;
}

.footer-media li{
	display: inline-block;
	border: 2px solid #8f8d91;
	height: 40px;
}

.button-subscribe {
	background-color: #83edbc;
	border: none;
	color: #fffcf4;
	height: 40px;
	width: 110px;
	display: block;
	font: 250 16px/36px Roboto;
	transition: .1s ease-out; 
	outline: none;
}

.button-subscribe:hover {
	outline: 0;
	height: 50px;
	width: 120px;
	margin-bottom: 0;
}

.footer-subscribe input[type="email"]{
	background: none;
	border: 1.5px solid #babbbb;
	width: 250px; 
	height: 40px;
	color: #fff;
	margin: 10px 0 15px;
	font: 250 14px/36px Roboto;
	outline: none;
}

.footer-subscribe input[type="email"]::placeholder {
	color: #c1c0c2;
	text-indent: 15px;
}

.footer-links a:hover {
	color: #83edbc;
	border-bottom: 1px solid #83edbc; 
}

.author {
	background-color: #737373;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	padding: 25px 0;
	text-align: center;
}

.author p {
	color: #c1c0c2;
}

.banner-container{
	position: absolute;
	top: 850px;
	left: 0;
	right: 0;
	margin: auto;
	height: 460px; 
	width: 730px;
}

.close {
  position: absolute;
  top: 0px;
  right: 5px;
  color: #3c87be;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  opacity: 0.8;
  cursor: pointer;
}
